/*@charset "UTF-8";

 cor xgo - #8000f8 - para gradient #CD00FF 
 
 <img src="imagens/backgrounds/Acessorios & Variedades.jpg" alt="banner">




 */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    
}
body, html{
    background-color: rgb(240, 240, 240);
    font-family: 'Times New Roman', Times, serif;
    
}

header{
    background-color: #8000f8;
    
    
}
#banner{
    background-image: url(/imagens/backgrounds/Acessorios\ &\ Variedades.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    box-shadow: 2px 5px 8px 0px rgb(0 0 0 / 53%);
    background-attachment: fixed;
    
}

#fix{
    background-attachment: fixed;
}

nav {
    display: block;
}

nav ul li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #8000f8;
}

#container1{
    box-shadow: 0px -7px 12px 0px rgba(0, 0, 0, 0.322)
}

.container-all a img{
    width: 380px;
    height: 280px;
    
}















/*
media de 1920x1080

header{
    background-image: url(/imagens/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    width: 100%;
    height: 100vh;
    display: 
}

*/

